{% extends '@App/base/base.html.twig' %}


{% block content %}

    <div class="container my-5 texte">
        <h3>Les membres du bureau</h3>

        {% for membre in membres %}
            <div class="container">
                <div>
{#--------------FAIRE EN SORTE DE N AFFICHER QUE LES MEMBRE DU BUREAU-------------------------------#}
                    <h5 class="Cat">{{ membre.role.role }} : {{ membre.nom }} </h5>

                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}