{% extends '@App/base/base.html.twig' %}


{% block content %}
    <section id="staff">
        <article>
            <header>
                <div class="container titremembre">
                    <h2>Les membres du bureau</h2>
                </div>
            </header>
            <div class="container my-5 texte">

                <p class=" defbureau my-4">Le bureau est composé en règle générale du président de l'association, d'un trésorier et d'un secrétaire, même si sa taille varie en fonction de l'importance de l'association.
                    Il constitue souvent le véritable exécutif de l'association.
                </p>

                {% for membre in membres %}
                    <div class="container">
                        <div>
                            {#cette condition va permettre de limiter au 6 premier id de la base de donnée de role#}
                            {% if membre.role.id<6 %}
                                <p class="Cat"><strong>{{ membre.role.role }}</strong>: {{ membre.civilite.sexe }} {{ membre.nom }} {{ membre.prenom }} </p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </article>
    </section>
{% endblock %}