{% extends '@App/base/base.html.twig' %}


{% block content %}
    <div class="container texte">
        <div class=" d-flex align-items-center">
            <div class="py-5 mr-3">
                <h1>{{ infos.titre }} du club</h1>
                <p>{{ infos.contenu }}</p>
            </div>
            <div class="mr-3">
                <img src="{{ asset('img/ancien.jpeg') }}" alt="">
            </div>
        </div>
    </div>
{% endblock %}