{% extends '@App/base/base.html.twig' %}


{% block content %}
    <section id="lien_utile">
        <header>
            <div class="container titrelien">
                <h2>Liens utiles</h2>
            </div>
        </header>
        <article>
            {% for lien in liens %}
                <div class="container lien">
                    <p><strong>{{ lien.nom }} :</strong></p>
                    <a href="http://{{ lien.adresse }}/" target="_blank"><p>{{ lien.adresse }}</p></a>
                </div>
            {% endfor %}
        </article>
    </section>
{% endblock %}