{% extends '@App/base/base.html.twig' %}


{% block content %}
        <div class="container my-5 texte">
            <h3>Prix des licences</h3>
            <p>Prix des licences en fonctions du niveau de l'escrimeur</p>


            {% for tarif in tarifs|slice(0, 3) %}

                <p>{{ tarif.Produit }}: {{ tarif.prix }} euros</p>

            {% endfor %}
        </div>
    {% endblock %}












