{% extends '@App/base/baseAdmin.html.twig' %}


{% block admin %}
<section>
        <header>
                <div class="container">
                        <div class="titreListeInfoAdmin">
                        <h2>Partie de la base de donnée pour les information général du club</h2>
                        </div>
                </div>
        </header>
        <article>
                <div class="container">

                    {% for info in infos %}
                        <div class="blocinfos">
                                <h3 class="titreInfo">{{ info.titre }}</h3>
                                <p>{{ info.contenu }}</p>
                                <div class="boutonMiseAjour"><a href="{{ path('mise_a_jour_information', {'id': info.id}) }}"><button>mise a jour information</button></a></div>
                        </div>
                    {% endfor %}

                    <div class="mb-5 "><a href="{{ path('homepage_admin') }}"><button>Accueil admin</button></a></div>
                </div>
        </article>
</section>
{% endblock %}