{% extends "@FOSUser/layout.html.twig" %}


 {% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}

<div class="container confirmEnregistr">
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
    <p>Félicitations, votre compte est activé.</p><br>
    <button><a href="{{ path('homepage') }}">Accueil</a></button>
</div>

{% endblock fos_user_content %}
