{% extends '@App/base/base.html.twig' %}


{% block content %}
    <span id="info_global">-</span>
<section>
    <article>

            {% for even in types.evenement %}
                <div class="container my-5 texte ">
                    <div>
                        <h5 class="mt-4">->{{ even.type.nom }}: {{ even.titre }}</h5>
                        <p>{{ even.contenu }}</p>
                        <p>{{ even.date | date("d/m/y") }}</p>
                    </div>
                </div>
            {% endfor %}
    </article>
</section>
{% endblock %}