{% extends '@App/base/base.html.twig' %}


{% block content %}
    {#Ici nous allons avoir la liste des evenements réalisé grace au formulaire en partie admin, mais la
    liste est réalisé par la 1ere route de l'EvenementController#}

    <section>
        <header>
            <div class="container titreeven1">
                <div>
                    <h2>La liste des évenements a venir</h2>
                </div>
            </div>
        </header>

        <article>
            {% for even in evens %}
                <div class="container my-5 texteeven ">
                    <div>
                        <h4 class="my-3">Categorie : {{ even.type.nom }}</h4>
                        <h5>{{ even.titre }}</h5>
                        <p>{{ even.contenu }}</p>
                        <p>{{ even.date | date("d/m/y") }}</p>
                    </div>
                </div>
            {% endfor %}
        </article>
    </section>
{% endblock %}