{% extends '@App/base/base.html.twig' %}



{% block content %}

<div class="container-fluid my-5 texte">
    <div class="container">
        <div>
            {% for actu in actus  %}
                <h2>{{ actu.titre }}</h2>
                <p>{{ actu.contenu }}</p>
                <div>{{ actu.photo }}</div>
                <hr>

            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}