{% extends '@App/base/base.html.twig' %}



{% block content %}
<section>
    <article>
        <div class="container-fluid">
            <div class="row grandeimage">
                <img src="{{ asset('img/image-entete.jpg') }}" alt="deux escrimeurs" class="img-fluid image" >
            </div>
        </div>
    </article>


    <article>
        <div class="container my-5 texte">
        <h1>Actualités du club</h1>
        </div>
        <div>
            {% for actu in actus  %}
                <div class="container my-5 pb-3 texte">
                    <div class="container">
                        <h3>{{ actu.titre }}</h3>
                        <p>{{ actu.contenu }}</p>
                            {% if actu.photo %}
                                <img src="{{ asset('uploads/images/' ~ actu.photo) }}" alt="image de l'actualite">
                            {% else %}
                                <p>pas d'image</p>
                            {% endif %}
                    </div>
                </div>

            {% endfor %}
        </div>
    </article>
</section>
{% endblock %}