{% extends '@App/base/base.html.twig' %}



{% block content %}

<div class="container-fluid my-5 texte">
    <div class="container">
        <div>
             <h2>{{ variable }}</h2>
        </div>
    </div>
</div>

{% endblock %}