{% extends '@App/base/baseAdmin.html.twig' %}


{% block admin %}

    <div class="container-fluid my-5 texte">
        <div class="container">
            <div>
                <h2>{{ variable }}</h2>
                <p>Grace a cette partie, vous allez pouvoir modifier certaines partie du site.</p>
                <p></p>
            </div>
        </div>
    </div>

{% endblock %}