/*--------------------------------------------*/
/*-------------SASS---------------------------*/
/*--------------------------------------------*/
.bordure{
  border:1px solid black;
  border-radius: 10px;
  -webkit-box-shadow: 13px 13px 18px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 13px 13px 18px -4px rgba(0,0,0,0.75);
  box-shadow: 13px 13px 18px -4px rgba(0,0,0,0.75);
}

.bordure1{
  border:1px solid black;
}

.bordure2{
  border:1px solid black;
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

button{
  padding:6px 0 6px 0;
  font:bold 13px Arial;
  background:#f5f5f5;
  color:#555;
  border-radius:2px;
  border:1px solid #ccc;
  box-shadow:1px 1px 3px #999;
  width: 170px;
}



$degrade:
linear-gradient(to right, #ffffff, #c9c1e1, #9a85c0, #6f499c, #470076);

$blanc:rgba(255,255,255,0.9);

$mauve:rgb(86,3,121);

.bouton{
  width: 170px;
}
.marginTopBottom40{
  margin-top: 40px;
  margin-bottom: 40px;
}

.marginTopBottom80{
  margin-top: 80px;
  margin-bottom: 80px;
}

.marginTopBottom30{
  margin-top: 30px;
  margin-bottom: 30px;
}

.paddingTopBottom10{
  padding-top: 10px;
  padding-bottom: 10px;
}

.marginBottom50Top20{
  margin-bottom: 50px;
  margin-top: 20px;
}
.marginTop90Bottom40{
margin-top: 90px;
margin-bottom: 40px;
}
.boxshadow{
  -webkit-box-shadow: 13px 13px 18px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 13px 13px 18px -4px rgba(0,0,0,0.75);
  box-shadow: 13px 13px 18px -4px rgba(0,0,0,0.75);
}
/*--------------------------------------------*/
/*---------partie public----------------------*/
/*--------------------------------------------*/
html, body{
  margin: 0;
  padding: 0;
}

.nomclub{
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  text-align: center;
  color: white;
  text-shadow: #bbb 0 0 1px, #fff 0 -1px 2px, #fff 0 -3px 2px, rgba(0,0,0,0.8) 0 30px 25px;
}

.dropdown, a{
  color: black;
}
.bob{
  text-align: end;
}
.menuderoul{
  text-align: center;
}

.barrenav{
  position: sticky;
  background-image: url("../img/metal4.jpg");
  top:0;
  z-index: 1;
  max-width: 100vw;
  opacity: 0.9;
  @extend .boxshadow;
}

.groupenavstick{
  display: flex;
  align-items: flex-end;

}
.homelogo{
  padding-bottom: 25px;
}

.groupeconnex{
  display: flex;
  align-items: flex-end;
}

/*------l'escrime description----------*/
.titreEscrime{
  @extend .bordure;
  text-align: center;
  margin-bottom: 40px;
}
.titrearme{
  @extend .bordure;
  text-align: center;
  width: 80%;
  margin: auto;
}
.boutonescrime{
  @extend .bouton;
}
.GroupeBoutonEscrime{
  display: flex;
  justify-content: center;
  @extend .bordure;
  @extend .paddingTopBottom10;
  width: 600px;
  margin: auto;
  background-color: $mauve;
}
.premierePhotoEscrime{
  width: 40%;
}
.photoTexte{
  display: flex;
  justify-content: space-around;
}
.texteEscrime{
  width: 442px;
  height: 219px;
}
.phototroisarmes{
  width: 10%;
  margin: auto;
}
/*FLEURET*/
.photofleuret, .photohandi, .photofepee{
  width: 100%;
}
.photohandi1{
  width: 80%;
  margin: auto;
}
.photofleuret1{
  width: 30%;
  margin: auto;
}
/*PISTE*/
.photopiste{
  width: 60%;
  margin: auto;
}
/*--------Presentation--------------------*/
.entete{
  @extend .bordure1;
  background-color: $mauve;
  height: 120px;

}

.texte{
  @extend .bordure;
  @extend .marginTop90Bottom40;
  text-align: center;
}

.titrepresentation, .titreeven1, .titrehandisport, .titrelien, .titrelicence, .titreprix, .titrehoraire, .titremembre, .titre3armes{
  @extend .bordure;
  @extend .marginTopBottom40;
  text-align: center;
}
.textpresentation{
  @extend .bordure;
  @extend .marginTopBottom40;
}
.imagemasuearme{
  margin-top: 30px;
}
.imagePresentation{
  width: 80%;
}
.photosalle{
  width: 100%;
}
/*---------Prix---------------------------*/
.paralocation{
  text-align: left;
}
.textePrix{
  @extend .bordure;
  @extend .marginTop90Bottom40;
  text-align: center;
}

/*--------Adresse de la salle--------------------*/
.map{
  margin-left: 100px;
  width: 100%;
  padding: 5px;

}
.salle{
  margin-left: 50px;
}
.photosalle{
  display: flex;
  justify-content: space-around;
}
/*---------Horaire-------------------*/
.titrehoraire{
  text-align: center;
  margin-top: 30px;
}

/*-------Lien utile----------------*/

.lien{
  @extend .bordure;
  @extend .marginTopBottom40;
  text-align: center;
}
/*--------Connexion--------------------*/
.connexion{
  @extend .bordure;
}
.name{
  text-align: center;
}

#dropdownMenu1{
  font-size: 20px;
}
.deconn{
  font-size: 20px;
  padding-bottom: 23px;
  text-decoration: none;
}

/*--------------Staff----------------------*/
.defbureau{
  @extend .bordure;
  margin-left: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}
/*--------------Actus----------------------*/
#titreactus{
  text-align: center;
  @extend .bordure;
  height: 80px;
  padding-top: 10px;
  background-color: rgb(199, 255, 255);
}

.imagedeuxSabreurs{
  width: 75%;
  margin-left: 25%;
  border-color: black;
}

.grandeimage{
  background-color: black;
}

.imageactus{
  width: 50%;
  margin: auto;
}
/*-------evenement------------------------*/
.texteeven{
  @extend .bordure;
  margin-top: 90px;
  margin-bottom: 40px;
  text-align: center;
}

.titreeven{
  text-align: center;
  margin-top: 30px;
}

/*--------footer--------------------------*/
.piedDepage{
  @extend .bordure1;
  background-color: $mauve;
}
/*--------------------------------------------*/
/*----------partie admin----------------------*/
/*--------------------------------------------*/

/*--------accueil admin--------*/

.menuadmin{
  @extend .bordure;
  @extend .marginTopBottom80;
}
.titreadmin{
  text-align: center;
}
.titreadminAccueil{
  @extend .bordure2;
}
.admin{
  width: 150px;
}
.navadmin{
  @extend .bordure1;
  background-color: rgb(221, 219, 219);
}
.groupedeux{
  padding-bottom: 30px;
}

/*--------liste actus--------*/

.bloclisteactus{
  @extend .bordure;
  text-align: center;
}
.ajoutactus{
  width: 168px;
  margin: auto;
}

.titreadmin{
  text-align: center;
  @extend .bordure;
}

.ajoutactusform{
  text-align: center;
  @extend .bordure2;
  width: 800px;
}

.bouton{
  @extend .bouton;
}
/*--------formulaire ajout actus--------*/
.formajoutactu{
  @extend .bordure;
  @extend .marginTopBottom40;
}
.titreformactus{
  text-align: center;
  @extend .marginTopBottom30;
}

#appbundle_actualites_titre,#appbundle_information_contenu, #appbundle_information_titre, #appbundle_actualites_contenu{
  width: 350px;
}
#appbundle_actualites_contenu, #appbundle_information_contenu{
  height: 200px;
}
/*--------liste evenements-------------*/
.bouclelisteeven{
  text-align: center;
}

.ajouteven{
  width: 200px;
  margin: auto;
}
.boutoneven{
  width: 200px;
}
.bloclisteeven{
  @extend .bordure;
}
.liaisontypenom{
  color: $mauve;
  text-decoration: underline;
}
/*--------Formulaire evenements-------------*/

#appbundle_evenement_titre, #appbundle_evenement_contenu, #appbundle_evenement_date{
  width: 350px;
}
#appbundle_evenement_contenu{
  height: 300px;
}
.bloceven{
  @extend .bordure;
  @extend .marginTopBottom30;
}
.boutonvalideven, .boutonevenform{
  width: 160px;
  margin: auto;
}
#appbundle_evenement_save{
  width: 160px;
}
.boutonformenven{
  width: 160px;
}
/*--------formulaire prix--------*/
.formtitreprix{
  text-align: center;
  @extend .marginBottom50Top20;
  @extend .bordure;
  width: 600px;
}

.formprix{
  @extend .bordure;
  padding-top: 20px;
}
.boutonprix{
  width: 170px;
}
.boutonformprix{
  width: 170px;
  margin:auto;
}
#appbundle_tarif_nom, #appbundle_tarif_save, #appbundle_tarif_produit, #appbundle_tarif_prix{
  width: 170px;
}

.prixalign{
  text-align: center;
  margin-top: 10px;
}


.titreListInfo{
  text-align: center;
  @extend .bordure;
}
/*----formulaire information------*/


.blocinfos{
  @extend .bordure;
  margin-bottom: 10px;
  padding: 10px;
}

.boutonMiseAjour{
  width: 170px;
  margin: auto;

}

.titreListeInfoAdmin{
  @extend .bordure;
  @extend .marginTopBottom40;
  text-align: center;
}

.titreInfo{
  text-align: center;
  margin-top: 20px;
}
/*----liste inscrit------*/
.listinscrit{
 text-align: left;
}




/*--------------------------------------------*/
/*----------formulaire fos_user---------------*/
/*--------------------------------------------*/

/*----formulaire mise a jour---*/
.modif{
  @extend .bordure;
  @extend .marginTopBottom80;
}

#fos_user_profile_form_current_password, #fos_user_profile_form_email, #fos_user_profile_form_username{
  width: 350px;
}
label{
  margin-bottom: 0px;
}
/*----formulaire inscription---*/

#fos_user_registration_form_nom, #fos_user_registration_form_prenom, #fos_user_registration_form_username,#fos_user_registration_form_email, #fos_user_registration_form_plainPassword_first, #fos_user_registration_form_plainPassword_second, #fos_user_registration_form_adresse, #fos_user_registration_form_ville, #fos_user_registration_form_code_postal{
  width: 350px;
}

.titreinscription, .titreListactus, .titreajouteven, .titremiseajour, .titreconnexion, .titreinfoperso{
  @extend .bordure2;
}
/*----Confirmation enregistrement*/

.confirmEnregistr{
  height: 65vh;
  @extend .bordure;
  text-align: center;
  padding-top: 10%;
}
/*----formulaire connexion---*/

#username, #password{
  width: 350px;
}
/*----Information perso---*/

.userspan{
  font-weight: bold;
}
.groupebutton{
  display: flex;
  margin: auto;
}









































