{% extends '@App/base/base.html.twig' %}


{% block content %}
<section id="le_sport">
    <article>
        <div class="container  blocsport ">
            <header>
                <h2 class="titreEscrime">L'Escrime</h2>
            </header>
    {#-----------------------Groupe photo et texte-----------------------------------#}
        <div class="container">
            <div class="row">
                <div class="premierePhotoEscrime offset-1 col-10 offset-md-1 col-md-5 my-3"><img src="{{ asset('img/premierePhotoEscrime.jpg') }}" alt="Deux escrimeurs" class="img-fluid"></div>
                 <div class="texteEscrime offset-1 col-10 col-md-5 my-3">
                     <p>L’escrime est un sport de combat. Il s’agit de l’art de toucher un adversaire avec
                    la pointe ou le tranchant (estoc et taille) d’une arme blanche sur les parties
                    valables sans être touché.

                    On utilise trois types d'armes : l’épée (discipline olympique depuis 1900 pour les
                    hommes et 1956 pour les femmes), le sabre (discipline olympique depuis 1896 pour
                    les hommes et 2004 pour les femmes) et le fleuret (discipline olympique depuis 1896
                    pour les hommes et 1924 pour les femmes).
                    </p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="texteEscrime offset-1 col-10 offset-md-1 col-md-5 my-3 ">
                        <p>  Ces trois armes sont
                        sexuées : épée féminine et masculine, fleuret féminin et masculin et sabre féminin
                        et masculin. Les épreuves sont individuelles ou par équipes. Elles sont donc au
                        nombre de douze.

                        L'escrime est l'un des sports où le français est la langue officielle : chaque pays
                        utilise sa langue pour les compétitions nationales, mais le français est
                        obligatoire pour l’arbitrage dans les compétitions internationales.
                    </p>
                </div>
                <div class="premierePhotoEscrime offset-1 col-10 col-md-5 "><img src="{{ asset('img/jump900x400.jpg') }}" alt="Deux escrimeurs" class="img-fluid" width="100%"></div>
            </div>
        </div>
        </div>
    </article>
</section>

{% endblock %}