{% extends '@App/base/base.html.twig' %}


{% block content %}
<section>
    <article>
        <div class="bloccredit">
            <header>
                <div class="container titrecredit">
                    <h1>{{ infos.titre }}</h1>
                </div>
                <div class="container titrecredit2">
                    <h2>Conception, réalisation et graphisme</h2>
                </div>
            </header>

            <div class="container infoCredit">
                <p>Contact: Julien RUIZ</p>
                <p>Téléphone: 0664892414</p>
                <p>E.mail: julien.ruiz@hotmail.fr</p>
                <p>Site: julien-ruiz.fr</p>

                <h2>Credit texte</h2>
                <p>Texte de Julien RUIZ</p>
            </div>
            </div>
    </article>
</section>
{% endblock %}